.cource-div{
background-color: rgba(191, 217, 224, 0.214);
border-radius: 20px;
justify-content: center;
align-items: center;
margin:20px 0px 20px 0px ;
}
.cource-detail-para{
font-size: 10px
}
.cource-detail-title{
font-size: 15px;
color:rgb(56, 141, 168) ;
}
.cource-detail-logo{
background-color: rgb(56, 141, 168);
margin: 10px 10px 10px 10px;
border-radius: 0;
width: 100px;
height: 70px;
}
.course-image{
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 0px 10px 10px 10px;
}
.click-course{
    position: absolute;
    font-size: 8px;
}

.extra-detail-course{
   display: flex;
   flex-direction: row;
    font-size: 13px;
  
}
.cource-detial-info{
    font-style: italic;
    width: 500px;
    text-align: justify;
    padding-right: 10px;
}
.readmorebutton{
    background-color: rgb(56, 141, 168);
    color: white;
    font-size: 16px;
    border-radius:5px;
    width: 150px;
    height: 40px;
    margin: 10px;

}
.whoweare{
    padding-left: 10px;
    padding-right: 10px;
}
.whoweare-data{
    font-size: 13px;
    text-align: justify;
}