
.mainpage-div{
    width: 100%;
    min-height: 100vh;
   border: 1px solid black;
  
}
.mainpage-div-title{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/images1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heading-text{
font-size: 20px;
}
.upay{
color: rgb(56, 141, 168);
font-size: 26px;

    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
  
}
.para-title{
    font-size: 15px;
    color: grey;
}
.reg-button{
    background-color: rgb(56, 141, 168);
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.watch-video{
    width: 135px;
   height: 40px;
  padding: 5px;
  border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll-button{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    background: rgb(56, 141, 168);
    color: white;
    border: none;
    border-radius:50%;
    cursor: pointer;

}

.header-main-div{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.597);
   
   z-index: 1;
    border-radius: 30px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
   
}
.header-titile{
    margin: 0;
    color: rgb(56, 141, 168);
    font-size: 14px;
}
.logo-header{
    width: 38px;
    height: 38px;
    background: rgb(56, 141, 168);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{   
    margin-top: 50px;
    
}

