
.mainpage-div{
    width: 100%;
    min-height: 100vh;
  
}
.mainpage-div-title{
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/cover1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heading-text{
font-size: 20px;
}
.upay{
color: rgb(30, 30, 30);
font-size: 26px;

    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
  
}
.para-title{
    font-size: 15px;
    color: rgb(70, 70, 70);
}
.reg-button{
    background-color: rgb(0, 172, 142);
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.watch-video{
    width: 125px;
   height: 40px;
  padding: 10px;
  border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.scroll-button{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    background: rgb(56, 141, 168);
    color: white;
    border: none;
    border-radius:50%;
    cursor: pointer;

}


.nav-bar-main{
    position: fixed;
    width: 100%;
    top: 5px;
}
.navbar {
    border-radius: 50px; 
    min-height: 40px;
    padding: 5px 20px; 

}
.logo-header{
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(250, 235, 215, 0.473);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

  .navbar-toggler {
    border-radius: 50px; 
  }
  
  .navbar-nav .nav-link {
    padding: 5px 15px; 
  }

.footer{   
    margin-top: 50px;
    
}
.error-page {
    display: none;
}

.App-main-div {
    display: block;
}

@media (width: 768px) {
    .error-page {
     display: block;
     width: 100%;
     height: 100vh;
    }

    .App-main-div {
        display: none;
    }
}